<br><br><br>
<app-mainteam></app-mainteam>

<section>
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>Mentors</h1>
      </div>

      <div class="column" data-aos="zoom-in-left" data-aos-delay="500">
        <div class="team">
          <div class="team-img">
            <img src="/assets/nivedan.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mr.Nivedan Nempe</h2>
            <h3>CEO of ARECA TEA</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <div class="team-social">
            <!-- <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a> -->
            <a
              href="https://www.linkedin.com/in/nivedan-nempe-959425124"
              class="social-li"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="column" data-aos="zoom-in-left" data-aos-delay="700">
        <div class="team">
          <div class="team-img">
            <img src="/assets/mahesh.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mr.Mahesh Bawge</h2>
            <h3>CS of Bijaspur</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <div class="team-social">
            <!-- <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a> -->
            <a href="" class="social-li"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>


      
    </div>

    <div class="section-title">
      <h1>Board Advisors</h1>
    </div>
    <div class="row">
      

      <div class="column" data-aos="zoom-in-left" data-aos-delay="500">
        <div class="team">
          <div class="team-img">
            <img src="/assets/daneshwari1.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mrs.Daneshwari Bawge</h2>
            <h3>CEO - Taxgaap Business Adviser</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <div class="team-social">
            <!-- <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a> -->
            <a
              href="https://www.linkedin.com/in/daneshwari-kagi-6a5728165"
              class="social-li"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>

      

     

      
    </div>
  </div>
</section>