
<br><br><br>
<div class="container">
  <div class="section-title">
    <h1>
      About Us
    </h1>
  </div>

  <div class="aboutus">
    <p>
      EmileAge's mission is to work towards serving the society and ensuring the
      imminent generations a clean,green and sustainable future.Here at EmileAge
      we are building Rural and Urban Economical Mobility Systems(RUEMS) for
      people of various sections from various dimensions to commute between
      source and destinations. We want to uplift the people from Rural and Urban
      regions by creating a new way of life by easing the challenges with
      innovative and efficient commute systems leaving Zero to No-carbon
      footprints. We at EmileAge develop Micro Mobility Vehicle systems,an user
      can ride and track the vehicles through an user friendly app,this helps in
      point to point tracking with precision. Systems developed can be
      customized to have either have fixed or swappable battery technology
    </p>
  </div>
  <div class="section-mission">
    <div class="mission" data-aos="zoom-in" data-aos-delay="200">
      <h2>Our Mission</h2>
      <p>
        To imbibe the spirit of entrepreneurship and innovation.To adapt the
        best practices of product design and development to realize products
        of high quality and standards.To collaborate with academic and
        research institutes in and around the region to strenghten the academic
        and business ecosystem. To apply knowledge in EV systems to create
        knowhow and developing such knowhow for utilization by academia,
        industry and society.
      </p>
    </div>
    <div class="imagem" data-aos="zoom-out" data-aos-delay="400">
      <img src="../../assets/teamev.jpg" alt="">
    </div>
  </div>


  <div class="section-vision">

    <div class="imagev" data-aos="zoom-out-down" data-aos-delay="300">
      <img src="../../assets/evscooter.jpg" alt="">
    </div>

    <div class="vision" data-aos="zoom-out-up" data-aos-delay="500">
      <h2>Our Vision</h2>
      <p>
        EmileAge aims to be among the nation's best and foremost startup
          through the quest for excellence in EV mobility systems and to
          contribute towards the problems of pollution & climate change with
          sustainability at the core by offering high quality products at
          customers convenince by applying science and technology breakthroughs
          for the nation well-beging and social welfare.
      </p>
    </div>
  </div>
</div>