<div class="mainfooter">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>ADDRESS</h4>
          
          <p>
            Head Office<br>
            #25 Jewargi Colony,Kalaburagi, <br>Karnataka - 585102
          </p>
          <p>
            Hubli Office <br>#05 Prashant colony 2nd Cross Vidyanagar,<br>Huballi -580031</p>
        </div>
        <div class="footer-col">
          <h4>Our Products</h4>
          <ul>
            <li><a routerLink="eelbike">EEL Bike</a></li>
            <li><a routerLink="ecart">Smart EV-Cart</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Learn More</h4>
          <ul>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="gallery">Gallery</a></li>
            <li><a routerLink="privacypolicy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>FOLLOW US</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=100077445783132&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
            <!-- <a href=""><i class="fab fa-twitter"></i></a> -->
            <a
              href="https://instagram.com/emileage_pvt.ltd_?igshid=NTc4MTIwNjQ2YQ=="
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.linkedin.com/company/emileage-initiative-pvt-ltd/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://youtube.com/@emileaageinitiatives605"
              ><i class="fab fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" id="copyright">
      <div>
        <br />
        <br />
        <br />
        <p>&copy; Emileage Initiative Pvt Ltd. All right reserved.</p>
      </div>
    </div>
  </footer>
</div>
