<br><br><br>
<div class="section-title">
  <h1>Awards</h1>
</div>

<section>
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/awards.jpg" alt="" />
      </div>
      <div class="content">
        <h2> Best StartUp Idea</h2>
        <p>Kalburgi <strong>THICKATHON</strong></p>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/awards1.jpg" alt="" />
      </div>
      <div class="content">
        <h2>Seed Fund Winner</h2>
        <p>KLE <Strong>Ctie </Strong>2.0</p>
        <p></p>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="../../../assets/awards2.jpg" alt="" />
      </div>
      <div class="content">
        <h2></h2>
        <p>Sig LOI with<Strong>KDEM</Strong>2.0</p>
        <p></p>
      </div>
    </div>

    <!-- <div class="card">
            <div class="imgBx">
               <img src="assets/newspaper1.jpg" alt=""> 
            </div>
            <div class="content">
                <h2>Awards</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima veritatis eligendi at reprehenderit tenetur blanditiis. Iusto rerum veniam voluptate animi.</p>

            </div>
        </div> -->
  </div>
</section>
