<div class="container">
  <video [autoplay]="true" [muted]="true" [loop]="true" class="clip">
    <source src="../../../assets/homevideo.mp4" type="video/mp4" />
  </video>
  <!-- <div class="content">
    <h1 class="eel">EEL-<span class="bike">Bike</span></h1>
  </div> -->
</div>

<app-aboutus></app-aboutus>
<br>

<!-- <div class="section-title">
    <h1>Products</h1>
  </div>
<div class="container-fluid">
    <div class="card">
        <img src="../../../assets/eelbike copy.JPG" alt="" class="card-img">
        <div class="card-body">
            <h1 class="card-title">Eel-Bike</h1>
            <p class="card-sub-title">The best in the town.</p>
            <p class="card-info">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Nesciunt corporis deserunt quae quidem 
                quod quasi non provident. Laborum similique delectus mollitia 
                quod temporibus, eligendi tenetur nostrum quibusdam corrupti 
                tempore voluptatibus?</p>
                <div class="card-btn">
                    <a routerLink="eelbike">Explore<i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
                    <button class="card-btn"></button>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/ecart 1.png" alt="" class="card-img">
        <div class="card-body">
            <h1 class="card-title">E-Cart</h1>
            <p class="card-sub-title">The best electric cart for vendors.</p>
            <p class="card-info">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Nesciunt corporis deserunt quae quidem 
                quod quasi non provident. Laborum similique delectus mollitia 
                quod temporibus, eligendi tenetur nostrum quibusdam corrupti 
                tempore voluptatibus?</p>
            <div class="card-btn">
                <a routerLink="ecart">Explore<i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
                <button class="card-btn"></button>
        </div>
    </div>

</div> -->

<app-mainteam></app-mainteam>
<app-testimonial></app-testimonial>
<br>
<app-testimonial2></app-testimonial2>
<div data-aos="zoom-out-down" data-aos-delay="1500">
  <app-contactus></app-contactus>
</div>