<div class="maincontainer">
  <div class="container">
    <h1 class="text-center">Testimonials</h1>
    <h5 class="text-center">What People say</h5>
    <div class="carousel">
      <input type="radio" name="slide" id="indicator1"  />
      <input type="radio" name="slide" id="indicator2" />
      <input type="radio" name="slide" id="indicator3" />
      <input type="radio" name="slide" id="indicator4" />
      <!-- <input type="radio" name="slide" id="indicator5" /> -->
      <div class="carouselinner">
        <div class="carouselitem">
          <div class="carouselcaption">
            <img src="../../assets/AnjulaMali.jpg" />
            <h2>Dr. Anjula Mali <span class="job-title"><br></span></h2>
            <p><i class="fa fa-quote-left" aria-hidden="true"></i>
            E-cart a initiative from emileAge inititative Pvt Ltd with a proper definintive infrastructure focused on improving life's street vendors.It reduced the physical strainof these workers by covering more areas in less time and is also a cost effective.
             <i class="fa fa-quote-right" aria-hidden="true"></i></p>
          </div>
        </div>
        <div class="carouselitem">
          <div class="carouselcaption">
            <img src="../../assets/PraveenUllagadi.jpg" />
            <h2>Dr.Praveen Ullagaddi<span class="job-title"><br></span></h2>
            <p><i class="fa fa-quote-left" aria-hidden="true"></i>
            This E-cart is a great idea and very helpful for the poor people,Especially in these summer conditions, its going to be help for street vendors for coveraging wider area and with less energy and also help them earn more money and save their energy.
              <i class="fa fa-quote-right" aria-hidden="true"></i></p>
          </div>
        </div>
        <div class="carouselitem">
          <div class="carouselcaption">
            <img src="../../assets/GirshPatil.jpg" />
            <h2>Dr.Girish Patil<span class="job-title"> <br></span></h2>
            <p><i class="fa fa-quote-left" aria-hidden="true"></i>
              E-Cart Vehicles are cost efficient with low running and maintenaince costs focused on relieving comman health problems.E-cart will definitely improve personal life of vendors and they will be able to contribute more to national economy and public health.
              <i class="fa fa-quote-right" aria-hidden="true"></i></p>
          </div>
        </div>

        <!-- <div class="carouselitem">
          <div class="carouselcaption">
            <img src="../../assets/GirshPatil.jpg" />
            <h2>Nikhil B.<span class="job-title"> <br>Customer</span></h2>
            <p><i class="fa fa-quote-left" aria-hidden="true"></i>
              Good idea for decreasing the stress of vegetable vendors.
              Try to decrease the cost so it can reach to all.
              <i class="fa fa-quote-right" aria-hidden="true"></i> </p>
          </div>
        </div> -->
      </div>
      <div class="indicators">
        <label for="indicator1"></label>
        <label for="indicator2"></label>
        <label for="indicator3"></label>
        <!-- <label for="indicator4"></label> -->
      </div>
    </div>
  </div>
</div>
