<div class="container">
  <div class="row">
    <div class="section-title">
      <h1>Key Partners</h1>
    </div>
    <br><br><br>

    <div class="column" >
      <div class="team">
        <div class="team-img">
          <img src="../../../assets/vendors2.png" alt="" />
        </div>
      </div>
    </div>

    <div class="column" >
      <div class="team">
        <div class="team-img">
          <img src="../../../assets/ctie3.png" alt="" />
        </div>
      </div>
    </div>

    <div class="column" >
      <div class="team">
        <div class="team-img">
          <img src="../../../assets/shivoham2.png" alt="" />
        </div>
      </div>
    </div>

    <div class="column">
      <div class="team">
        <div class="team-img">
          <img src="../../../assets/srinidhi2.png" alt="" />
        </div>
      </div>
    </div>

    <div class="column">
      <div class="team">
        <div class="team-img">
          <img src="../../../assets/kdem2.jpg" alt="" />
        </div>
      </div>
    </div>

  </div>
</div>