<section>
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>Meet Our Team</h1>
      </div>

      <div class="team">
        <div class="team-content">
      <h2 class="text-center"> We consider all the drivers of change from ground up we'll motivate you to make the change</h2>
      </div>
    </div>

      <br>
      <div class="column" data-aos="zoom-in-left" data-aos-delay="500">
        <div class="team">
          <div class="team-img">
            <img src="../../../assets/basavareddi.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mr.Basavareddy S Madgi</h2>
            <h3>Chief Executive Officer</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <div class="team-social">
            <!-- <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a> -->
            <a href="https://www.linkedin.com/in/basavareddy-s-madgi-558689180" class="social-li"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>

      <div class="column" data-aos="zoom-in-left" data-aos-delay="700">
        <div class="team">
          <div class="team-img">
            <img src="../../../assets/dattappa.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mr.Dattappa Bawge</h2>
            <h3>Chief Financial Officer</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <!-- <div class="team-social">
            <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a>
            <a href="" class="social-li"><i class="fab fa-linkedin-in"></i></a>
          </div> -->
        </div>
      </div>

      <div class="column" data-aos="zoom-in-left" data-aos-delay="900">
        <div class="team">
          <div class="team-img">
            <img src="../../../assets/shivanand.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mr.Shivananda<br>gouda Patil</h2>
            <h3>Chief Operating Officer</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <div class="team-social">
            <!-- <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a> -->
            <a href="https://www.linkedin.com/in/shivanandagouda-patil-86350110" class="social-li"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>

      <div class="column" data-aos="zoom-in-left" data-aos-delay="1100">
        <div class="team">
          <div class="team-img">
            <img src="/assets/sridhar.jpg" alt="" />
          </div>
          <div class="team-content">
            <h2>Mr.Sridhar Mandal</h2>
            <h3>Chief Technical Officer</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, perspiciatis.</p> -->
            <!-- <h4>varunpatil@gmail.com</h4> -->
          </div>
          <div class="team-social">
            <!-- <a href="" class="social-fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social-tw"><i class="fab fa-twitter"></i></a>
            <a href="" class="social-in"><i class="fab fa-instagram"></i></a> -->
            <a href="https://in.linkedin.com/in/sridhar-mandal-06a62772" class="social-li"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>