<br><br><br>

<section>
  <div class="container">
    <div class="main-title">
      <h1><strong>Privacy Policy</strong></h1>
    </div>
    <div class="content">


<div class="section-title">
  <h1 class="text-center">
    <strong>Smart EV - Cart </strong>
  </h1>
</div>
     
      <br>
      <p>
        eMileAge Initiative Pvt.Ltd E-Cart is concerned about the privacy of its
        users (hereinafter referred to as "You" "Your" "Yourself") accessing its
        website located at ("Website") and has provided this Privacy Policy
        ("Policy") to familiarize You with the manner in which eMileAge
        Initiative Pvt.Ltd E-Cart collects, uses and discloses Your information
        collected through the Website.
        <br />
        <strong>
          BY USING THE WEBSITE, YOU AGREE TO THE TERMS OF THIS POLICY. IF YOU DO
          NOT AGREE WITH THE TERMS AND CONDITIONS OF THIS POLICY, PLEASE DO NOT
          PROCEED FURTHER TO USE THIS WEBSITE.</strong
        >
      </p>
      <br>
      <h2>
        <strong> Information and Usage </strong>
      </h2>
      <br>
      <p>
        This Privacy Policy explains how eMileAge Initiative Pvt.Ltd E-Cart
        collects personal and non-personal information, classified as mandatory
        or voluntary, and uses, discloses, and protects such information through
        the Website. “Personal Information” is data that can be used to uniquely
        identify or contact a single person ("Personal Information"). Personal
        Information for the purposes of this Policy shall include, but not
        limited to, information regarding Your name, address, telephone number,
        date of birth, gender, email address, etc.
        <br />
        <br />
        You may need to provide eMileAge Initiative Pvt.Ltd E-Cart your Personal
        Information during the course of using some services of the Website, for
        instance, creating a User ID, providing information in Your account
        while registering on the Website, or providing financial information
        while making an online purchase, uploading content, participating in any
        online survey or contest, communicating with eMileAge Initiative Pvt.Ltd
        E-Cart customer service by phone, email or otherwise, or providing
        reviews for the content available on the Website.
        <br />
        <br />
        eMileAge Initiative Pvt.Ltd E-Cart collects only such Personal
        Information that is relevant and required to understand You or Your
        interests. eMileAge Initiative Pvt.Ltd E-Cart may collect Your Personal
        Information in order to record, support, and facilitate Your
        participation in the activities You select, track Your preferences,
        provide You with a customized Website experience, to notify You of any
        updated information and new activities and other related functions
        offered by eMileAge Initiative Pvt.Ltd E-Cart keep You informed about
        latest content available on the Website, special offers, and other
        products and services of eMileAge Initiative Pvt.Ltd E-Cart, to assist
        You with customer service or technical support issues, to follow up with
        You after Your visit, to otherwise support Your relationship with
        eMileAge Initiative Pvt.Ltd E-Cart, or to prevent fraud and unlawful
        use. In an effort to make our Website effective, certain information may
        be collected each time you visit the Website. Such information may be
        stored in server logs. These encrypted statistics do not identify you
        personally but provide us with the information regarding your visit to
        the Website and the type of user who is accessing our Website, and
        certain browsing activities by You. This data may include but is not
        limited to, IP address of Your server from where the Website is being
        accessed, the type of browser (Internet Explorer, Firefox, Opera, Google
        Chrome, etc.), the operating system of Your system, and the Website You
        last visited before visiting our Website. The duration of Your stay on
        our Website is also stored in the session along with the date and time
        of your access. These data are used by eMileAge Initiative Pvt.Ltd
        E-Cart to understand the use and number of users visiting the Website.
        Some of the information related to the Website and Your visit to the
        Website may be shared with the sponsors, investors, advertisers,
        developers, strategic business partners of eMileAge Initiative Pvt.Ltd
        E-Cart, and some associates in order to enhance and grow our business
        and the Website but we assure that this information will never include
        any of Your Personal Information.
        <br />
        <br />
        When You use the Website, eMileAge Initiative Pvt.Ltd E-Cart servers
        (which may be hosted by a third-party service provider) may collect
        information indirectly and automatically about Your activities on the
        Website; for instance by way of cookies. A cookie is a small amount of
        data that is sent to a user's browser from a web server and is
        eventually stored on a user's computer hard drive. This anonymous
        information is maintained distinctly and is not linked to the Personal
        Information You submit to eMileAge Initiative Pvt.Ltd E-Cart
        <br />
        <br />
        Wether You want Your web browser to accept cookies or not is up to You.
        If You haven't changed Your computer's settings, most likely Your
        browser already accepts cookies. If You choose to decline cookies, You
        may not be able to fully experience all features of the Website. You can
        also delete Your browser cookies or disable them entirely, but this may
        significantly impact Your experience with the Website and may make parts
        of the Website non-functional or inaccessible. We recommend that You
        leave them turned on. eMileAge Initiative Pvt.Ltd E-Cart also uses the
        log file like other website servers, which is the standard measure. They
        include Internet Protocol (IP) addresses, browser type, Internet Service
        Provider (ISP), referring/exit pages, platform type, date/time stamp,
        and a number of clicks. We use them to analyse trends, administer the
        site, track a user's movement and gather broad demographic information
        for aggregate use. IP addresses, etc. are not linked to personally
        identifiable information.
      </p>
      <br />
      <h2>
        <strong>General Provisions</strong>
      </h2>
      <br />
      <p>
        Unless stated otherwise, the Policy applies to all information that
        eMileAge Initiative Pvt.Ltd E-Cart has about You and Your account. By
        using this Website and the products, content and services provided on
        the Website, You agree and acknowledge that Your Personal Information
        collected through the Website may be transferred across national
        boundaries and stored and processed in any country around the world. You
        also acknowledge that in certain countries or with respect to certain
        activities, the collection, transfer, storage, and processing of Your
        information may be undertaken by trusted third-party vendors or agents
        of eMileAge Initiative Pvt.Ltd E-Cart such as credit card processors,
        web hosting providers, communication services, and web analytic
        providers, to help facilitate eMileAge Initiative Pvt.Ltd E-Cart in
        providing certain functions.
        <br />
        <br />
        eMileAge Initiative Pvt.Ltd E-Cart may make changes to this Policy, from
        time to time at eMileAge Initiative Pvt.Ltd E-Cart sole discretion or on
        account of changes in the law. eMileAge Initiative Pvt.Ltd E-Cart will
        not reduce Your rights under this Policy without Your explicit consent.
        eMileAge Initiative Pvt.Ltd E-Cart may email periodic reminders of the
        notices and conditions unless You have instructed eMileAge Initiative
        Pvt.Ltd E-Cart not to, but You should check the Website frequently to
        see recent changes. Notwithstanding the above,eMileAge Initiative
        Pvt.Ltd E-Cart shall not be required to notify You of any changes made
        to the Policy. The revised Policy shall be made available on the
        Website. Your continued use of the Website, following changes to the
        Policy, will constitute Your acceptance of those changes.
        <br />
        <br />
        If You choose to visit the Website, Your visit and any dispute over
        privacy is subject to this Policy and the Website's Terms of Use. In
        addition to the foregoing, any disputes arising under this Policy shall
        be governed by the laws of India.
      </p>
      <br />
      <h2>
        <strong> User Discretion </strong>
      </h2>
      <br />
      <p>
        You can always choose not to provide information and in such cases, if
        the information required is classified as mandatory, You will not be
        able to avail of that part of the Services, features, or content.
        <br />
        <br />
        eMileAge Initiative Pvt.Ltd E-Cart may, if You so choose, send direct
        advertisement mailers to You at the address given by You which could
        contain details of the products or services displayed on eMileAge
        Initiative Pvt.Ltd E-Cart or of any third party not associated with
        eMileAge Initiative Pvt.Ltd E-Cart. You have the option to opt-out of
        this direct or third-party mailer by clicking on the unsubscribe link
        option attached to the email. eMileAge Initiative Pvt.Ltd E-Cart
        respects Your privacy and if You do not want to receive email or other
        communications from eMileAge Initiative Pvt.Ltd E-Cart, for any query or
        assistance, feel free to Contact Us. If You do not want eMileAge
        Initiative Pvt.Ltd E-Cart to use your Personal Information, for any
        query or assistance, feel free to Contact Us.
      </p>

      <br />
      <h2>
        <strong> Security </strong>
      </h2>
      <br />
      <p>
        eMileAge Initiative Pvt.Ltd E-Cart strives to ensure the security,
        integrity, and privacy of Your Personal Information and to protect Your
        Personal Information against unauthorized access or unauthorized
        alteration, disclosure, or destruction.
        <br /><br />
        eMileAge Initiative Pvt.Ltd E-Cart is not responsible for any breach of
        security or for any actions of any third parties that receive Your
        Personal Information. The Website may also be linked to many other sites
        and we are not/shall be not responsible for their privacy policies or
        practices as it is beyond our control.
      </p>

      <br>

      <div class="section-title">
        <h1>
          <strong>EEL - Bike </strong>
        </h1>
      </div>
      
      <br>

      <p>
        This Privacy Policy (“Privacy Policy”) governs your use of websites, mobile applications and technology operated by eMileAge Initiative Pvt.Ltd EEL Bike .
        We, eMileAge Initiative Pvt.Ltd EEL Bike , would like EEL Bike  users to know that we will collect and use your personal information. The policies below are applicable to data and information collected when you use any of the following:
        eMileAge Initiative Pvt.Ltd EEL Bike network of websites, including www.yulu.bike (including any versions optimized for viewing on a wireless or tablet device)
        All email newsletters published or distributed by eMileAge Initiative Pvt.Ltd 
        All apps published by eMileAge Initiative Pvt.Ltd., including the “EEL” app
        Any other services made available by eMileAge Initiative Pvt.Ltd EEL Bike (“Service”)
        All other interactive features and communications provided
        by eMileAge Initiative Pvt.Ltd EEL Bike (“EEL App”), however accessed and/or used that are operated by us made available by us, or produced and maintained by us, and our related companies (collectively “EEL” or “we”, “us”, or “our”)
        We have established this privacy policy (“Privacy Policy”) to ensure that you understand what kinds of personal information we may gather during your use of this App, why we gather your information, how we use that information, when we might disclose your personal information, and how can you manage your personal information.
        Please note that the practices described in this Privacy Policy apply to information gathered online through our App and websites, and by our customer service personnel. It does not apply to information that you share with organizations to which we may link or who may link to us, or information that we may receive about you from other organizations.
        By using our App, you accept the practices described in our Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the App. We reserve the right to revise the terms of our Privacy Policy from time to time without notice. Your continued use of our App following the changes to these terms will mean you accept those changes. If we intend to apply the changes to this Privacy Policy retroactively or to personal information already in our possession, we will notify you of the modifications or amendments.
        This Privacy Policy is incorporated in our User Agreement, which is accessible at www.emileageinitiative.com unless otherwise defined in this Privacy Policy.

      </p>

      <br />
      <h2>
        <strong> Information Collection and Use</strong>
      </h2>
      <br />

      <p>We may request you to provide personally identifiable information for a better experience while using our Service. This may include but not be limited to location, name, and address. We collect two basic types of information from you: personal information; and non-personal information. The information that you share with us will be retained by us and used as explained in this privacy policy.
        The app uses Third Party services for user KYC via Aadhaar Number that may collect information used to identify you.
        </p>

        <br />
        <h2>
          <strong> Personal Information</strong>
        </h2>
        <br />

        <p>
          You may browse the App without submitting any personal information. However, there are a number of features and Services that can be accessed only on submission of the required personal information. The most common ways in which we may collect your personal information are listed below.
            When you register for an account on the EEL Bike App
            <br>
            – When you use EEL Bike App to refer to your friends
            <br>
            – On submission of payment information for adding money to your EEL Bike walleApp related 
            communications, e.g. Aadhaar Number provided for KYC
            <br>
            – Profile information (personal and non-personal) provided by you in the EEL Bike  App User Profile
            <br>
            – When you share your ride details on your social media authorized by you
            <br>
            – When you participate in EEL Bike ratings, surveys, or promotion
            <br>
            – When you sign up to receive alerts or information via email, text or instant messages from EEL Bike 
            <br>
            – When you request for assistance, customer service or support
            <br>
            – When you submit data or information on the App where it is permitted
            <br>
            – When you knowingly volunteer personal information anywhere on the App

        </p>
        <br />
        <h2>
          <strong> Log Data</strong>
        </h2>
        <br />
         <p>
          When you use our Service and if there is an error in the App, we collect data and information (through third party products) on your phone, called Log Data. This Log Data may include information such as your device Internet Protocol (IP) address of your server, device name, operating system version, the EEL Bike app configuration while you are using our service, the time and date when you use our service, the duration, and other statistics.
          The device information about the computer, browser, mobile device or any other device that you use to access the EEL Bike App. This information may include the IP address, geolocation, unique device identifiers, type of browser, language, and other transactional information.
          When you use the App, a third party server or we might collect information about your use of the App, including GPS routes and status of GPS chips.
          Device information about the EEL Bike  including time stamps and battery status.
          Additional “traffic data” and log files such as time of access, date of access, software crash reports, session identification number, access times, and referring App addresses.
          Other information regarding your use of the App.
          Collection of Your Source IP Address/Location Information.

         </p>

         <br />
         <h2>
           <strong> Information Collected from Other Sources</strong>
         </h2>
         <br />

         <p>
          We might collect information about you, which we may receive from other sources or from our offline interactions with you. Such information that will enable us to verify, update information contained in our records and to better customize the EEL Bike  App for you. We may also collect Personal Information from credit reporting agencies to, for example, determine your creditworthiness, credit score, and credit usage, in accordance with applicable laws.
         </p>


         <br />
         <h2>
           <strong> Children's Privacy</strong>
         </h2>
         <br />

         <p>
          Our Services do not address anyone under the age of 13 years. We do not knowingly collect personal information from children under 13 years. In the case we realize that a child under 13 years has provided us with personal information, we immediately delete this from our servers. If you are a parent or a guardian and are aware that your child has provided us with personal information, please contact us so that we will be able to take necessary actions.
         </p>

         <br />
         <h2>
           <strong> Cookies</strong>
         </h2>
         <br />

         <p>
          Cookies are files with small amount of data that is commonly used as anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your device internal memory. This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collection information and to improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some features of this Service.
          We use cookies for other purposes as below:
          – We use cookies to remind us who you are and to find your account information in our database when you access a Service so you do not need to log in at every visit. This helps us to provide you with services tailored to your particular needs and interests. A cookie is created when you register for a Service.
          <br>
          – We use cookies to determine the browser you use so the Apps can be designed to work efficiently with the most common versions of different browsers
          <br>
          – We use cookies in conjunction with sending you e-mail newsletters
          <br>
          – Advertisers that place ads on the App may use cookies
          <br>
          – We use cookies to generate analytics regarding our App
          <br>
          – We use cookies to determine user traffic. Your browser is given a unique cookie that helps us determine whether yours is a repeat visit or a first visit

         </p>

         <br />
         <h2>
           <strong>How Do We Use Your Information?</strong>
         </h2>
         <br />

         <p>
          We use the information we receive from you to help us personalize services and improve your experience on the App. We may use your Personal and Non-Personal Information in the following ways:
          General Uses
          – To process your registration
          <br>
          – To provide the EEL Bike  Service to you at your request
          <br>
          – To track the EEL bike you use
          <br>
          – To upload your content to our App at your request
          <br>
          – To permit you to update, edit, and manage your content on our EEL Bike App
          <br>
          – To communicate with you about your account or transactions with us (including service related announcements) and send you information about features and enhancements on our App
          <br>
          – To update you about changes to our policies
          <br>
          – To communicate with you about your comment to a blog post
          <br>
          – To personalize content and experiences on our EEL Bike App, including providing you reports, recommendations and feedback based on your preferences
          <br>
          – To disclose anonym zed Personal Information to disclose statistics and analytics and other details regarding the use of our EEL Bike App
          <br>
          – To enhance or improve our products, services and operations
          <br>
          – To update the EEL Bike App on your device automatically
          <br>
          – To detect, examine, and restrict activities that may violate our policies or be illegal
          <br>
          – To perform analyses of users of the EEL Bike App: statistical, demographic, and marketing

         </p>


         <br />
         <h2>
           <strong>Changes to This Policy</strong>
         </h2>
         <br />

         <p>
          We may add new services and features to our App as we develop it. If these additions affect our Privacy Policy, this document will be updated appropriately. We will make those changes prominently so that you will always know what information we gather, how we might use that information and whether we will disclose it to anyone. However, we recommend that you read this Privacy Policy each time you use our App in case you missed our notice of changes to the Privacy Policy. We will make sure not to change our policies and practices to make them less protective of Personal Information we have previously collected from you without your express consent.
         </p>


         <br />
         <h2>
           <strong>Emails and Other Communications</strong>
         </h2>
         <br />


         <p>
          You may alter the preference of the type of communications you receive from us, including opting out of promotional communications. You can do this at any time by updating the communication preferences indicated in your account profile through the EEL Bike App.
          Please note that by doing so you may not be able to access certain products and services, and we may continue to send non-promotional communications such as staffing confirmations, surveys, and other information about your use of the Service. If you refer others to us using our email functionality, please note that they may choose not to receive any promotional emails from us in the future by following the opt-out instructions in the email invitation.

         </p>
          
         <br />
         <h2>
           <strong>Tracking</strong>
         </h2>
         <br />

         <p>
          You may choose to limit some tracking mechanisms on the EEL Bike App that collect information. Many web browsers automatically accept cookies. In most cases you can modify your browser's setting to decline cookies if you prefer. You choose to decline cookies on our EEL Bike App, but certain features of the EEL Bike App, including the EEL Bike App itself, may not function properly or remain accessible to you. In addition, you may also render some web beacons unusable by rejecting or removing their associated cookies. Note that if you remove cookies, you may remove opt-out cookies that affect your advertising preferences. For more details on your ability to opt out, see Use of Cookies and Other Tracking Technologies above.
          Please note that while you may opt out of online behavioural advertising and other targeted advertising served by participating companies through EEL Bike App you may still see other types of advertising on the EEL Bike App, it just may not be as relevant or targeted to your interests.
          
         </p>

         <br />
         <h2>
           <strong>Reviewing and Changing Your Information</strong>
         </h2>
         <br />

         <p>
          You can review and change the information in your EEL Bike account by logging into your account and editing your profile. Please note that we may not be able to delete your Personal Information without also deleting your user account. To access any records containing information about you, we may request you to provide us with your Personal Information to verify your identity. Please be advised that you will not be permitted to examine the Personal Information of any other person or entity. We may decline your request to change or delete Personal Information if we believe doing so would violate any law or legal requirement, or cause the information to be incorrect.
         </p>

    </div>
  </div>
</section>
