
<div class="container-fluid">
    <div class="ev">
        <img src="/assets/maineel.jpg" alt="">
    <!-- <div class="bottom" style="color: black;"><h1>Smart E bike </h1></div> -->
</div>
</div>
<div class="section-title">
    <h1>EEL - Bike</h1>
  </div>
    
    <div class="image">
        <img src="/assets/eelBIKE3.jpg" alt="">
    </div>


   
 
        <!-- <div class="indicator">
            <span class="btn active"></span>
            <span class="btn"></span>
            <span class="btn"></span>
        </div> -->
        <div class="section-title">
            <h1>Features</h1>
        </div>
        
        <!-- <div class="testimonial">
           
        <div class="slide-row" id="slide">
            <div class="slide-col">
                <div class="user-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur odit esse soluta quidem voluptates non veniam delectus provident dolores?</p>
                    <h3>Sleek</h3>
                    <p>Zara Inc.</p>
                </div>
                <div class="user-img">
                    <img src="/assets/battery2.png" alt="">
                </div>
            </div>

            
    </div>

    <div class="slide-row" id="slide">
        <div class="slide-col">
            <div class="user-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur odit esse soluta quidem voluptates non veniam delectus provident dolores?</p>
                <h3>Sleek</h3>
                <p>Zara Inc.</p>
            </div>
            <div class="user-img">
                <img src="/assets/battery2.png" alt="">
            </div>
        </div>
</div>

<div class="slide-row" id="slide">
    <div class="slide-col">
        <div class="user-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur odit esse soluta quidem voluptates non veniam delectus provident dolores?</p>
            <h3>Sleek</h3>
            <p>Zara Inc.</p>
        </div>
        <div class="user-img">
            <img src="/assets/battery2.png" alt="">
        </div>
    </div>
</div>
    </div>
     -->
     <div class="container-fluid">
       
        <div class="row">
            <div class="col">
                <div class="text">
                    <p>Unleash control and performance with EEL Bike's 16x2.4" tire, aluminium alloy wheels, and rear hydraulic disc brake. Ride with confidence and style.</p>
                    <h3>Tire Wheels and Brakes</h3>
                </div>
                <div class="img">
                    <img src="/assets/Tires and Brakes.png">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text">
                    <p>EEL Bike features a striking orange and white color scheme,coupled with an electronic locking system for added security. Ride boldly and protect your bike with confidence</p>
                    <h3>Bold Style, Secure Ride</h3>
                </div>
                <div class="img">
                    <img src="/assets/Colors.png">
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="col">
                <div class="text">
                    <p>Experience power unleashed with EEL Bike's mid-drive motor,delivering 60Nm torque, top speed of 28kmph and 12-degree grade ability. Conquer with confidence.</p>
                    <h3>Performance</h3>
                </div>
                <div class="img">
                    <img src="/assets/Performance.png">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text">
                    <p>EEL Bike features with a 705 Wh lithium-ion battery with a 65km range. Water resistant and removable,it charges 0 to 100% in 75minutes with a portable charger</p>
                    <h3>Battery</h3>
                </div>
                <div class="img">
                    <img src="/assets/battery2.png">
                </div>
            </div>
        </div>
    </div>

    <div class="lastrow">
        <div class="lastcol">
            <div class="lastext">
                <p>The EEL Bike boasts a sleek design and weighs only 22kg. With a 40" wheelbase for stability, a comfortable 27.5" seat height, and agile handle weight of 35"</p>
                <h3>Sleek and LightWeight</h3>
            </div>
            <div class="img">
                <img src="/assets/sleek.png">
            </div>
        </div>
    </div>

    
  


